<div class="container">
    <div class="row align-items-top">
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Login From jayesh</h5>
                <div class="card-body">
                    <h5 class="card-title">Login From Design & Html code</h5>
                    <p class="card-text">Click on the view code button and get Html Code and Scss and you will get reday
                        to use Login From.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/login-demo']">View Code</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Check Box & Radio Button</h5>
                <div class="card-body">
                    <h5 class="card-title">Check Box & Radio Button Html code</h5>
                    <p class="card-text">Click on the view code button and get Html Code and Scss and you will get reday
                        to use Check Box & Radio Button.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/check-box-radio-button']">View Code</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header">Accordion</h5>
                <div class="card-body">
                    <h5 class="card-title">Accordion Html code</h5>
                    <p class="card-text">Click on the view code button and get Html Code and Scss and you will get reday
                        to use Accordion.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/accordion']">View Code</a>
                </div>
            </div>
        </div>
    </div>
</div>